:root
{
    --blanco : #ffffff;
    --oscuro: #212121;
    --primario: #a51a99; 
    --secundario: #8d1b9c;
    --rosa: #eca5abea;
    --grisClaro: #d1d5da;
    --grisContenedor: #bbc0c5;
    --rosaClaro: #f3d3d6ea;
    --rosaFondo: #f5ebecea;
    --rosaBoton: #f1bcc0ea;
}

/* Globales **/
html
{
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para Box model*/
    scroll-snap-type: y mandatory;
}

*, *:before, *:after 
{
    box-sizing: inherit;
}

img
{
    width: 100%;
}

a
{
    /* Enlaces sin interlineado*/
    text-decoration: none;
}

.contenedor
{
    max-width: 120rem;
    margin: 0 auto;
}

body
{
    font-size: 16px; /* 1rem = 10px*/
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--rosaFondo) 0%, var(--blanco) 100%); /* Color degradado */
}

.contenedor
{
    max-width: 120rem;
    margin: auto;
}

.boton
{
    background-color: var(--rosaBoton);
    color: var(--oscuro);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}

@media(min-width: 768px)
{
    .boton
    {
        width: auto;
    }
}

.boton:hover /* hover es para cuando nos ponemos sobre algo */
{
    cursor: pointer;
    background-color: var(--grisClaro);
}

.sombra
{
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

/* Tipografía */

h1
{
    font-size: 3.8rem;
    text-align: right;
    background-color: var(--rosa);
    color: var(--oscuro);
}

h2
{
    font-size: 2.8rem
}

h3 
{
    font-size: 1.8rem;
}

h2, h3
{
    text-align: center;
}

/* Título */

.titulo span
{
    font-size: 2rem;
}

.titulo__imagen
{
    width: 2.5%;
    height: 2.5%;
}

/* Utilidades */
.w-sm-100
{
    width: 100%;
}

@media (min-width: 768px)
{
    .w-sm-100
    {
        width: auto;
    }
}

.flex
{
    display: flex;
}

.alinear-derecha
{
    justify-content: flex-end;
}

/* Navegación principal */
.nav-bg
{
    background-color:var(--secundario);
}

.navegacion-principal
{
    display: flex;
    
    flex-direction: column;
}

@media (min-width: 768px) 
{
    .navegacion-principal
    {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.navegacion-principal a 
{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacion-principal a:hover 
{
    background-color: var(--rosaClaro);
    color: var(--oscuro);
}

/* Hero */
.hero 
{
    background-image: url(img/Inicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero
{
    position: absolute;
    /*background-color: rgba(0, 0, 0, 0.7);
    background-color: rgb(0, 0, 0 / 70);*/
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2, .contenido-hero p
{
    color: var(--blanco);
}

.contenido-hero .ubicacion
{
    display: flex;
    align-items: flex-end;
}

/* Servicios */
@media (min-width: 768px)
{
    .servicios
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 1fr = una fracción */
        column-gap: 1rem;
    }
}

.servicio
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3
{
    color: var(--oscuro);
    font-weight: bold;
}

.servicio p
{
    line-height: 2;
    text-align: center;
}

.servicio .iconos
{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Contacto */
.formulario
{
    background-color: var(--primario);
    width: min(60rem, 100%); /* Utilizar el valor más pequeño */
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset
{
    border: none;
}

.formulario legend
{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--blanco);
}

@media (min-width: 768px) 
{
    .contenedor-campos
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }

    .campo:nth-child(3),
    .campo:nth-child(4)
    {
        grid-column: 1/3;
    }
}

.campo
{
    margin-bottom: 1rem;
}

.campo label
{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.campo textarea
{
    height: 20rem;
}

.input-text
{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

/* footer */
.footer
{
    text-align: center;
}

/* Nosotros */
.nosotros
{
    display: grid;
    grid-template-rows: repeat(2, auto);
    font-size: 2rem;
    text-align: center;
}
@media (min-width: 768px) 
{
    .nosotros
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.nosotros__imagen
{
    grid-row: 1/2;
}

@media (min-width: 768px) 
{
    .nosotros__imagen
    {
        grid-column: 2/3;
    }
    
}

.bloques
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) 
{
    .bloques
    {
        grid-template-columns: repeat(4, 1fr);
    }
}

.bloque
{
    text-align: center;
}

.bloque__titulo
{
    margin: 0;
}

/*Producto*/
.producto
{
    background-color: var(--rosaBoton);
    padding: 1rem;
}

.producto__nombre
{
    font-size: 2rem;
}

.producto__precio 
{
    font-size: 2rem;
    font-weight: bold;
}

.producto__nombre, .producto__precio
{
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
    color: var(--oscuro);
}

/*Grid*/
.grid
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

}

@media (min-width: 768px) 
{
    .grid
    {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Página del producto*/
@media (min-width: 768px) 
{
    .pag_productos 
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }    
}

.formulario_producto
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

}

.formulario_producto__campo
{
    border: 0.5rem solid var(--rosaBoton);
    background-color: var(--rosaBoton);
    color: var(--oscuro);
    font-size: 2rem;
    padding: 1rem;
    appearance: none;
    grid-column: 1/3;
    font-weight: bold;
}

.formulario_producto__submit
{
    background-color: var(--primario);
    color: var(--blanco);
    border: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;
    transition: background-color 0.3s ease;
}

.formulario_producto__submit:hover
{
    cursor: pointer;
    background-color: var(--grisClaro);
    color: var(--oscuro);
}

.formulario_producto__precio
{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    grid-column: 1/3;
}
